.card {
  background-color: var(--mantine-color-dark-8);
  border: 1px solid var(--mantine-color-dark-5);
  transition: border-color 150ms ease;
}

.card:hover {
  border-color: var(--mantine-color-dark-3);
}

.icon {
  background-color: var(--mantine-color-dark-6);
}
